canvas { width: 100%; height: 100%; }

#visualisation {
    background-color: #DAD1D0;
}

/* #statusBar { background-color: azure; background-blend-mode: screen; color: navy; font-family: Sans-serif; font-weight: 200; } */

.scrollable {
    overflow: scroll;
}

.resizableV {
    resize: vertical;
}

.fullHeight {
    height: 150px;
}

#leftPane {
    height: 100%;
    overflow: scroll;
}

/* Fix for Angular-UI: Mouse pointer for collapse etc. */
.nav, .pagination, .carousel, .collapsible { cursor: pointer; }

/***********************
* Object Hierarchy
************************/

#objectHierarchy {
    max-height: 300px;
    width: 100%;
    -moz-user-select:none;
}

#objectHierarchy ul {
    margin: 0 0 0 -1em;
    padding: 0 0 0 1em;
}

#objectHierarchy li {
    margin: 0;
    padding: 0;
    list-style-position: inside;
    cursor: auto;
    word-break: break-all;
}

#objectHierarchy li li {
    padding-left:1.5em;
}


#objectHierarchy li.collapsibleListOpen {
    list-style-image: url('../img/button-open.png');
    cursor:pointer;
}

#objectHierarchy li.collapsibleListClosed {
    list-style-image: url('../img/button-closed.png');
    cursor:pointer;
}

#objectHierarchy li.lastChild {
    list-style-image: none; !important
}