<div class="panel panel-default">
    <div class="panel-heading">Controls</div>

    <div class="panel-body">
        <input type="checkbox" name="controls_MovementEnabled" ng-model="movementEnabled" ng-change="toggleMovementControls(movementEnabled)" />
        <label for="controls_MovementEnabled">Movement</label>

        <input type="checkbox" name="controls_CoordinatesEnabled" ng-model="coordinatesEnabled" />
        <label for="controls_MovementEnabled">Coordinates</label>
    </div>
</div>