<script type="text/ng-template" id="sceneTree">
    <input type="checkbox" ng-model="child.visible" ng-click="$event.stopPropagation();" />&nbsp;<a ng-click="showObjectInfo(child.name); $event.stopPropagation();" ng-class="{'text-muted': !child.visible}">{{ child.name }}</a>
    <ul ng-if="child.children" class="collapsibleList">
        <li ng-repeat="child in (child.children | listObjectInTree) | orderBy: 'name'" ng-include="'sceneTree'" ng-class="{'lastChild': (child.children | listObjectInTree).length==0}">
        </li>
    </ul>
</script>

<div class="panel panel-default">
    <div class="panel-heading collapsible" ng-click="collapse_hierarchy = !collapse_hierarchy">
        Hierarchy <span class="navbar-right glyphicon" ng-class="collapse_hierarchy ? 'glyphicon-menu-right' : 'glyphicon-menu-down'"></span>
    </div>

    <div class="scrollable" uib-collapse="collapse_hierarchy">
        <div id="objectHierarchy" class="panel-body">
            <ul>
                <li id="hierarchyRoot" ng-repeat="child in objects" ng-include="'sceneTree'"></li>
            </ul>
        </div>
    </div>
</div>