<div>
    <div class="modal-header">
        <h3><span ng-bind="'Details: ' + modalCtrl.title"></span></h3>
    </div>

    <div class="modal-body">
        <div class="alert alert-info" ng-if="!modalCtrl.info">No data is available for this object.</div>
        <div class="row" ng-repeat="(prop,val) in modalCtrl.info">
            <div class="col-md-4"><label ng-bind="(prop|capitalize)"></label></div>
            <div class="col-md-8" ng-bind="val"></div>
        </div>                
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="modalCtrl.ok()">OK</button>
    </div>
</div>