<html> 
    <head> 
        <meta charset="UTF-8">
        <title>Visual KARSYS (alpha build)</title>
        
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/visualisation.css">
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <script src="js/ui-bootstrap-0.14.1.min.js" type="text/javascript" defer></script>
        
        <script src="threejs/three.min.js" type="text/javascript" defer></script>
        <script src="threejs/OrbitControls.js"  type="text/javascript" defer></script>
        <script src="threejs/MTLLoader.js"  type="text/javascript" defer></script> <!-- To probably be removed in future -->
        <script src="threejs/OBJMTLLoader.js"  type="text/javascript" defer></script> <!-- To probably be removed in future -->
        <script src="threejs/ColladaLoader.js"  type="text/javascript" defer></script> <!-- To probably be removed in future -->

        <script src="threejs/ThreeCSG.js"  type="text/javascript"></script>

        <script src="threejs/AxisHelper.js" type="text/javascript" defer></script>
        <script src="js/GraphicsService.js"  type="text/javascript" defer></script>
        <script src="js/Model.js"  type="text/javascript" defer></script>
        <script src="js/ModelService.js"  type="text/javascript" defer></script>
        <script src="js/ModelCtrl.js"  type="text/javascript" defer></script>
        <script src="js/app.js"  type="text/javascript" defer></script>
        
        <script src="js/CollapsibleLists.min.js" type="text/javascript" defer></script>
    </head>
    
    <body class="container-fluid" ng-app="karsys">
		
        <div ng-controller="ModelController as ctrl" class="row-fluid">
            <div id="left" class="col-md-2">
                <div class="row">
                    <div id="top" class="col-md-12">
                        <h2>Visual KARSYS</h2>
                        <b><i>by ISSKA</i></b>
                    </div>
                </div>
                
                <div class="row">
                    <br />
                    <div id="controls">
                        
                        <div id="controls_ModelList" class="row-fluid">
                            <label>Model</label>
                            <select id="modelList" ng-model="ctrl.currentModelID">
                                <option value="">(Please select...)</option>
                                <option ng-repeat="model in ctrl.getAll" value="{{$index}}">{{model.name}}</option>
                            </select>
                            <br />
                            <input type="button" value="Show" ng-click="ctrl.loadModel(ctrl.currentModelID)" />
                        </div>
                        
                        <div class="panel-group" ng-show="ctrl.isModelLoaded">

                            <div id="controls_Camera" class="panel panel-default" ng-show="ctrl.cameraEnabled">
                                <div class="panel-heading">Camera</div>
                                <div class="panel-body">
                                    <input type="text" size="3" ng-model="ctrl.camCoords.x">
                                    <input type="text" size="3" ng-model="ctrl.camCoords.y">
                                    <input type="text" size="3" ng-model="ctrl.camCoords.z">
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <input type="checkbox" name="controls_MovementEnabled" ng-model="ctrl.movementEnabled" ng-change="ctrl.toggleMovementControls()">
                                <label for="controls_MovementEnabled">Movement</label>

                                <input type="checkbox" name="controls_CoordinatesEnabled" ng-model="ctrl.coordinatesEnabled">
                                <label for="controls_MovementEnabled">Coordinates</label>
                            </div>
                            
                            <div id="controls_CrossSection" class="panel panel-default">
                                <div class="panel-heading">Cross Sections</div>
                                <div class="panel-body">
                                    <div class="btn-group">
                                        <label class="btn btn-primary" ng-model="ctrl.csMode" ng-change="ctrl.toggleCrossSection()" uib-btn-radio="'V'" uncheckable>Cut</label>
                                    </div>
                                    <div class="btn-group">
                                        <label class="btn btn-primary" ng-model="ctrl.csFlipped" ng-change="ctrl.flipCrossSection()" uib-btn-radio="'Flip'" uncheckable>Flip</label>
                                    </div>
                                    <div class="form-group">
                                        <label for="crossSectionDistance">Move</label>
                                        <input id="crossSectionDistance" class="form-control" ng-model="ctrl.crossSection.distance" ng-change="ctrl.updateCrossSection()" type="number" min="-100" max="100" />
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                        <hr />
                        
                        <div id="details" class="panel panel-default">
                            <div class="panel-heading">Details</div>

                            <div id="details_coordinates">
                                <div class="panel-body" ng-show="ctrl.coordinatesEnabled">  
                                    <i>Coordinates</i><br />
                                    <span ng-repeat="(dim,val) in ctrl.mouseCoordinates" ng-bind="dim + ': ' + (val | number: 2) + ctrl.coordinatesUnit + ($index<2 ? ', ' : '')"></span>
                                </div>
                            </div>                            
                            
                        </div>
                        
                        <div id="details" class="panel panel-default">
                            <div class="panel-heading">Hierarchy</div>
                            <div id="objectHierarchy" class="panel-body">
                                <ul>
                                    <li id="hierarchyRoot" ng-repeat="child in ctrl.objectTree" ng-include="'sceneTree'"></li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>

            </div>

            <div id="right" class="col-md-10">
                <div id="visualisation"><canvas ng-mousemove="ctrl.canvasMouseMoved($event)" id="canvas"></canvas></div>
            </div>
        </div>
        
    </body>
    
    <script type="text/ng-template" id="dialog.html">
        <div>
            <div class="modal-header">
                <h3><span ng-bind="'Details: ' + modalCtrl.name"></span></h3>
            </div>
            
            <div class="modal-body">
                <div class="alert alert-info" ng-if="!modalCtrl.info">No data is available for this object.</div>
                <div class="row" ng-repeat="(prop,val) in modalCtrl.info">
                    <div class="col-md-3"><label ng-bind="(prop|capitalize)"></label></div>
                    <div class="col-md-9" ng-bind="val"></div>
                </div>                
            </div>
            
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="modalCtrl.ok()">OK</button>
            </div>
        </div>
    </script>
    
    <script type="text/ng-template" id="sceneTree">
        <a ng-click="ctrl.showObjectInfo(child.name); $event.stopPropagation();">{{ child.name }}</a>
        <ul ng-if="child.children" class="collapsibleList">
            <li ng-repeat="child in (child.children | listObjectInTree) | orderBy: 'name'" ng-include="'sceneTree'" ng-class="{'lastChild': (child.children | listObjectInTree).length==0}">
            </li>
        </ul>
    </script>
        
</html>