<html> 
    <head> 
        <meta charset="UTF-8">
        <title>Visual KARSYS (alpha build)</title>
        
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/visualisation.css">
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <script src="js/ui-bootstrap-0.14.1.min.js" type="text/javascript" defer></script>
        
        <script src="threejs/three.min.js" type="text/javascript" defer></script>
        <script src="threejs/OrbitControls.js" type="text/javascript" defer></script>
        <script src="threejs/MTLLoader.js" type="text/javascript" defer></script> <!-- To probably be removed in future -->
        <script src="threejs/OBJMTLLoader.js" type="text/javascript" defer></script> <!-- To probably be removed in future -->
        <script src="threejs/ColladaLoader.js" type="text/javascript" defer></script> <!-- To probably be removed in future -->

        <script src="js/ModelListDirective.js" type="text/javascript" defer></script>
        <script src="js/GraphicsService.js" type="text/javascript" defer></script>
        <script src="js/ArcGisService.js" type="text/javascript" defer></script>
        <script src="js/Model.js" type="text/javascript" defer></script>
        <script src="js/ModelService.js" type="text/javascript" defer></script>
        <script src="js/ModelCtrl.js" type="text/javascript" defer></script>
        <script src="js/app.js" type="text/javascript" defer></script>
        
        <script src="js/CollapsibleLists.min.js" type="text/javascript" defer></script>
    </head>
    
    <body class="container-fluid" ng-app="karsys">
		
        <div ng-controller="ModelController as ctrl">
            <div id="leftPane" class="col-md-2">
                <div class="row">
                    <h3>Visual KARSYS</h3><small> by SISKA</small>
                </div>
                
                <br />
                
                <div class="row">
                
                    <vk-model-list></vk-model-list>

                    <hr />

                    <div ng-show="ctrl.isModelLoaded">

                        <div class="panel-group">

                            <div class="panel panel-default">
                                <div class="panel-heading">Controls</div>

                                <div class="panel-body">
                                    <input type="checkbox" name="controls_MovementEnabled" ng-model="ctrl.movementEnabled" ng-change="ctrl.toggleMovementControls()" />
                                    <label for="controls_MovementEnabled">Movement</label>

                                    <input type="checkbox" name="controls_CoordinatesEnabled" ng-model="ctrl.coordinatesEnabled" />
                                    <label for="controls_MovementEnabled">Coordinates</label>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">Details</div>

                                <div id="details_coordinates">
                                    <div class="panel-body" ng-show="ctrl.coordinatesEnabled">  
                                        <i>Coordinates</i><br />
                                        <span ng-repeat="(dim,val) in ctrl.mouseCoordinates" ng-bind="dim + ': ' + (val | number: 2) + ctrl.coordinatesUnit + ($index<2 ? ', ' : '')"></span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <hr />

                        <div class="panel-group">

                            <div class="panel panel-default" ng-show="ctrl.cameraEnabled">
                                <div class="panel-heading">Camera</div>

                                <div class="panel-body">
                                    <input type="text" size="3" ng-model="ctrl.camCoords.x">
                                    <input type="text" size="3" ng-model="ctrl.camCoords.y">
                                    <input type="text" size="3" ng-model="ctrl.camCoords.z">
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading collapsible" ng-click="collapse_cs = !collapse_cs">
                                    Cross Sections <span class="navbar-right glyphicon" ng-class="collapse_cs ? 'glyphicon-menu-right' : 'glyphicon-menu-down'"></span>
                                </div>
                                
                                <div uib-collapse="collapse_cs">
                                    <div class="panel-body">
                                        <div class="btn-group">
                                            <label class="btn btn-primary" ng-model="ctrl.csMode" ng-change="ctrl.toggleCrossSection()" uib-btn-radio="'V'" uncheckable>Cut</label>
                                        </div>
                                        <div class="btn-group">
                                            <label class="btn btn-primary" ng-model="ctrl.csFlipped" ng-change="ctrl.flipCrossSection()" uib-btn-radio="'Flip'" uncheckable>Flip</label>
                                        </div>
                                        <div class="btn-group">
                                            <label class="btn btn-primary" ng-model="ctrl.csShowPlane" ng-change="ctrl.toggleCrossSectionPlane()" uib-btn-radio="'Show'" ng-bind="ctrl.csShowPlane == 'Show' ? 'Hide' : 'Show'" uncheckable>Hide</label>
                                        </div>
                                        <div class="form-group">
                                            <label for="crossSectionDistance">Distance</label>
                                            <input id="crossSectionDistance" class="form-control" ng-model="ctrl.crossSection.distance" ng-change="ctrl.moveCrossSection()" type="number" min="-100" max="100" width="4" />
                                        </div>
                                        <div class="form-group">
                                            <label for="crossSectionAngle">Angle (X / Y)</label>
                                            <input id="crossSectionAngle" class="form-control" ng-model="ctrl.crossSection.angleX" ng-change="ctrl.rotateCrossSection('X', ctrl.crossSection.angleX, {{ctrl.crossSection.angleX}})" type="number" min="-45" max="45" width="4" />
                                            <input id="crossSectionAngle" class="form-control" ng-model="ctrl.crossSection.angleY" ng-change="ctrl.rotateCrossSection('Y', ctrl.crossSection.angleY, {{ctrl.crossSection.angleY}})" type="number" min="-45" max="45" width="4" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading collapsible" ng-click="collapse_hierarchy = !collapse_hierarchy">
                                    Hierarchy <span class="navbar-right glyphicon" ng-class="collapse_hierarchy ? 'glyphicon-menu-right' : 'glyphicon-menu-down'"></span>
                                </div>
                                
                                <div id="panelObjectHierarchy" class="scrollable" uib-collapse="collapse_hierarchy">
                                    <div id="objectHierarchy" class="panel-body">
                                        <ul>
                                            <li id="hierarchyRoot" ng-repeat="child in ctrl.objectTree" ng-include="'sceneTree'"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div>                        
                    </div> <!-- End lower controls -->
                    
                </div>
                    
            </div> <!-- End left pain -->

            <div id="visualisation" class="col-md-10">
                <canvas ng-mousemove="ctrl.canvasMouseMoved($event)" id="canvas"></canvas>
            </div>
        </div>
        
    </body>
    
    <script type="text/ng-template" id="dialog.html">
        <div>
            <div class="modal-header">
                <h3><span ng-bind="'Details: ' + modalCtrl.name"></span></h3>
            </div>
            
            <div class="modal-body">
                <div class="alert alert-info" ng-if="!modalCtrl.info">No data is available for this object.</div>
                <div class="row" ng-repeat="(prop,val) in modalCtrl.info">
                    <div class="col-md-3"><label ng-bind="(prop|capitalize)"></label></div>
                    <div class="col-md-9" ng-bind="val"></div>
                </div>                
            </div>
            
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="modalCtrl.ok()">OK</button>
            </div>
        </div>
    </script>
    
    <script type="text/ng-template" id="sceneTree">
        <input type="checkbox" ng-model="child.visible" ng-click="$event.stopPropagation();" />&nbsp;<a ng-click="ctrl.showObjectInfo(child.name); $event.stopPropagation();" ng-class="{'text-muted': !child.visible}">{{ child.name }}</a>
        <ul ng-if="child.children" class="collapsibleList">
            <li ng-repeat="child in (child.children | listObjectInTree) | orderBy: 'name'" ng-include="'sceneTree'" ng-class="{'lastChild': (child.children | listObjectInTree).length==0}">
            </li>
        </ul>
    </script>
        
</html>